@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Roboto", sans-serif;
}
.Hero-Section{
    background-image: url(./img/hero_back_img.png);

    height: 545px;
    border-bottom:1px white;
}
header{
    list-style-type: none;
    display: flex;
    margin-inline: 144px;
    width: 1152px;
    height: 97px;
    /* border: 1px white; */
    padding-top: 16px;
    padding-bottom: 16px;

}
header nav{
    display: flex;
}
header nav li{
    margin-right: 56px;
    color: white;
    padding-block:41.5px;
}
header img{
    margin-left: 383px;
    margin-top: 41.5px;
}
header button{
    width: 238px;
    height: 44px;
    padding-block: 12px;
    padding-inline: 24px;
    border-width: 0.5px ;
    border-color:white ;
    color: white;
    background:none;
    margin-left: 210px;
    margin-top: 41.5px;
}
header button i{
    margin-left: 12px;
}
.Hero-Section hr{
    width:1152px;
}
.Hero-Section p{
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    margin-left: 600px;
    margin-top: 152px;
    color: white;

}
.section2 .hr{
    margin-inline: 645px;
    margin-bottom: 32px;
    width: 150px;
    height: 4px;
    background-color: #E03740;
}
.section2{
    padding-top: 112px;
}
.section2 .para p{
    width: 745px;
    height: 120px;
    margin-inline: 379px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    text-align: center;
}
.para-section{
    display: flex;
    gap: 24px;
    margin-inline:100px;
    margin-top: 112px;
    padding-bottom: 112px;
}
.content1{
    width: 520px;
    height: 280px;
    gap: 24px;
    
}
.para-section .content1 .heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 30px;
}
.para-section .content1 .para {
    width: 550px;
    height: 120px;    
    font-weight: 300;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
}
.content2{
    width: 520px;
    margin-left: 102px;
}
.para-section .content2 .heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}
.para-section .content2 .para{
    width: 550px;
    height: 120px;    
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.section2 img{
    width: 1340px;
    height: 745px;
}