@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.Hero-Section{
    background-image: url(./img/hero_back_img.png);
  
    height: 545px;
    border-bottom:1px white;
}
header{
    list-style-type: none;
    display: flex;
    margin-inline: 144px;
    width: 1152px;
    height: 97px;
    /* border: 1px white; */
    padding-top: 16px;
    padding-bottom: 16px;

}
header nav{
    display: flex;
}
header nav li{
    margin-right: 56px;
    color: white;
    padding-block:41.5px;
}
header img{
    margin-left: 343px;
    margin-top: 41.5px;
}
header button{
    width: 238px;
    height: 44px;
    padding-block: 12px;
    padding-inline: 24px;
    border: 0.5px solid white;
    color: white;
    background:none;
    margin-left: 210px;
    margin-top: 41.5px;
    cursor: pointer;
}
header button i{
    margin-left: 12px;
}
.Hero-Section hr{
    width:1152px;
}
.Hero-Section p{
    padding-block: 63px;
    padding-inline: 517px;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
  
    color: white;

}
.section2 .hr{
    margin-inline: 645px;
    margin-bottom: 32px;
    width: 150px;
    height: 4px;
    background-color: #E03740;
}
.section2{
    padding-top: 112px;
}
.section2 .para p{
    width: 745px;
    height: 120px;
    margin-inline: 379px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -4%;
    text-align: center;
}
.para-section{
    display: flex;
    gap: 24px;
    margin-inline:100px;
    margin-top: 112px;
    padding-bottom: 112px;
}
.content1{
    width: 520px;
    height: 280px;
    gap: 24px;
}
.para-section .content1 .heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 30px;
}
.para-section .content1 .para {
    width: 550px;
    height: 120px;    
    font-weight: 300;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
}
.content2{
    width: 520px;
    margin-left: 102px;
}
.para-section .content2 .heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}
.para-section .content2 .para{
    width: 550px;
    height: 120px;    
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.section2 img{
    width: 1340px;
    height: 745px;
}
.img-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}
.backimg{
    background-image: url(/img/Rectangle\ 3\(1\).png);
    width: 1340px;
    height: 406px;
    top: 97px;
}
.backimg p{
    font-weight: 700;
    font-size: 112px;
    line-height: 100%;
    letter-spacing: 50px;
    text-align: center;
    color: white;
    padding-top: 128px;
    margin-left: 153px;
}
.section3{
    margin-top: 133px;
    margin-left: 144px;
    display: flex;
    margin-bottom: 50px;
}
.section3 .content{
    margin-top: 65px;
}
h1 {
    color:black;
}
.section3 .para1{
    width: 399px;
    margin-top: 20px;
}
.section3 .para2{
    width: 399px;
    margin-top: 20px;
}
.section3 .para3{
    width: 399px;
    margin-top: 20px;
}
.section3 .para4{
    width:420px;
    margin-top: 20px;
}
.section3 .imgs{
    margin-left: 112px;
}
.section4{
    margin-left: 144px;
    padding-bottom: 100px;
    margin-top: 100px;
    display: flex;
}
.section4 .para1{
    width: 410px;
    margin-top: 20px;
}
.section4 .para2{
    width: 399px;
    margin-top: 20px;
}
.section4 .para3{
    width: 420px;
    margin-top: 20px;
}
.section4 .para4{
    width:420px;
    margin-top: 20px;
}   
.section4 .content{
    margin-left: 112px;
}
.section5{
    margin-left: 144px;
    padding-bottom: 100px;
    margin-top: 100px;
    display: flex;
}
.section5 .para1{
    width: 410px;
    margin-top: 30px;
}
.section5 .para2{
    width: 399px;
    margin-top: 30px;
}
.section5 .para3{
    width: 410px;
    margin-top: 30px;
}
.section5 .para4{
    width:420px;
    margin-top: 30px;
}   
.section5 .content{
    margin-left: 112px;
}
.section5 .imgs{
    margin-top: 90px;
    margin-left: 112px;
}
.section6{
    display: flex;
}
.section6 .content {
    text-align: center;
    margin-left: 144px;
}
.section6 li{
    padding-bottom: 30px;
    width: 500px;
}
.section6 .content2{
    text-align: center;
}
.section7 div{
    padding-top: 112px;
    margin-left: 144px;
    padding-bottom: 88px;
}
.section7 div img{
    margin-right: 40px;
}
.footer{
    width: 1339px;
    height: 214px;
    background-color: black;
}
.footer .container1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.footer .container1 img{
    margin-right: 56px;
}